// Breakpoints
$breakpoint-mobile: 312px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// color
$primary-color: #00ff00;
$secondary-color: #5a20ff;
$white-color: #f6f6f6;
$gray1-color: #b0b0b0;
$gray2-color: #b0b0b0;
$gray9-color: #1a1c20;
$black-color: #0c0c0c;

// font
$base-font: 'Galmuri11', sans-serif;
$base-Bold-font: 'Galmuri11-Bold', sans-serif;
