// Breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 312px;

// color
$primary-color: #00ff00;
$white-color: #f6f6f6;
$gray0-color: #E1E1E1;
$gray1-color: #CBCBCB;
$gray2-color: #B6B6B6;
$gray3-color: #A0A0A0;
$gray4-color: #8B8B8B;
$gray5-color: #757575;
$gray6-color: #606060;
$gray7-color: #4A4A4A;
$gray8-color: #353535;
$gray9-color: #1F1F1F;
$black-color: #0c0c0c;

// font
$base-font: 'Galmuri11', sans-serif;
$base-Bold-font: 'Galmuri11-Bold', sans-serif;
