@keyframes loading-shimmer {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(100%);
	}
}
@keyframes slideIn {
	to {
		left: 50%;
	}
}

@keyframes rotate {
	from {
		transform: rotate(-3deg);
	}

	50% {
		transform: rotate(3deg);
	}

	to {
		transform: rotate(-3deg);
	}
}

@keyframes hovering {
	from {
		transform: translateY(2px);
	}

	10% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-5px);
	}

	to {
		transform: translateY(0px);
	}
}

@keyframes centerHovering {
	from {
		transform: translate(0, -50%);
	}

	10% {
		transform: translate(0, -45%);
	}

	50% {
		transform: translate(0, -55%);
	}

	to {
		transform: translate(0, -55%);
	}
}

@keyframes move-forever {
	from {
		transform: translate(-90px, 0%);
	}
	to {
		transform: translate(85px, 0%);
	}
}

@keyframes dotJump {
	0%,
	100% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.1;
	}
}

@keyframes tooltips-vert {
	to {
		opacity: 0.9;
		transform: translate(-50%, 0);
	}
}
@keyframes tooltips-horz {
	to {
		opacity: 0.9;
		transform: translate(0, -50%);
	}
}

@keyframes qwer {
	100% {
		background: linear-gradient(180deg, var(--line) 1px, transparent 1px var(--size)) 25% 75% /
			var(--size) var(--size);
	}
}

@keyframes noiseAnimation {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	10% {
		-webkit-transform: translate(-5%, -5%);
		transform: translate(-5%, -5%);
	}
	20% {
		-webkit-transform: translate(-10%, 5%);
		transform: translate(-10%, 5%);
	}
	30% {
		-webkit-transform: translate(5%, -10%);
		transform: translate(5%, -10%);
	}
	40% {
		-webkit-transform: translate(-5%, 15%);
		transform: translate(-5%, 15%);
	}
	50% {
		-webkit-transform: translate(-10%, 5%);
		transform: translate(-10%, 5%);
	}
	60% {
		-webkit-transform: translate(15%, 0);
		transform: translate(15%, 0);
	}
	70% {
		-webkit-transform: translate(0, 10%);
		transform: translate(0, 10%);
	}
	80% {
		-webkit-transform: translate(-15%, 0);
		transform: translate(-15%, 0);
	}
	90% {
		-webkit-transform: translate(10%, 5%);
		transform: translate(10%, 5%);
	}
	100% {
		-webkit-transform: translate(5%, 0);
		transform: translate(5%, 0);
	}
}
