.container {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	box-sizing: border-box;
    .content {
        max-width: 1280px;
        margin: 0 auto;
    }
}

// Section 01
#intro {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

.cloneable {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: $color-black;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 50%;
		left: -50%;
		transform: translate(-50%, -50%);
		width: 90%;
		height: 5em;
		background: $color-primary-500;
		opacity: 0.1;
		transform-origin: left center;
		animation: slideIn 1s $bounce 1.4s forwards;
	}

	&::after {
		--size: 46px;
		--line: color-mix(in lch, #f6f6f6, transparent 92.5%);
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		height: 100vh;
		width: 100vw;
		background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% /
				var(--size) var(--size),
			linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size)
				var(--size);
		mask: linear-gradient(160deg, transparent 38%, #f6f6f6);
		transform-style: flat;
		pointer-events: none;
	}

	.looping-words {
		position: relative;
		z-index: 2;
		height: 0.56em;
		font-size: 48vw;
		line-height: 1.2;
		transition: font-size 0.28s ease;

		.looping-words__containers {
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 100%;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(
					180deg,
					$color-black 5%,
					transparent 45%,
					transparent 55%,
					$color-black 95%
				);
				pointer-events: none;
			}

			.looping-words__list {
				position: relative;
				display: flex;
				flex-flow: column;
				align-items: center;
				font-family: $base-Bold-font;
				text-align: center;
				text-transform: uppercase;
				white-space: nowrap;
				list-style: none;
				transition: color 0.48s ease;
				&.is--primary {
					color: $color-primary-900;
				}

				&.is--gray {
					color: $color-gray900;
				}
				.looping-words__p {
					padding-left: 0.14em;
					padding-right: 0.14em;
				}
			}
		}
	}

	.looping-words__selector {
		pointer-events: none;
		width: 100%;
		height: 0.29em;
		position: absolute;
		z-index: -1;
		top: 49.4%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $color-black;

		.looping-words__edge {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 0.08em;
			height: 0.08em;
			border-top: 0.03em solid $color-primary-500;
			border-left: 0.03em solid $color-primary-500;
			&.is--2 {
				left: auto;
				right: 0;
				transform: rotate(90deg);
			}
			&.is--3 {
				inset: auto 0 0 auto;
				transform: rotate(180deg);
			}
			&.is--4 {
				top: auto;
				bottom: 0;
				transform: rotate(270deg);
			}
		}
	}
}
.arrow-box {
	position: absolute;
	z-index: 18181818;
	bottom: 84px;
	left: 50%;
	transform: translateX(-50%);
	.down-arrow {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
		.dot {
			width: 6px;
			height: 6px;
			background-color: $color-primary-500; // 야광 초록색
			animation: dotJump 0.8s infinite steps(1);

			// 각 도트가 순서대로 딜레이되도록 설정
			&:nth-child(1) {
				animation-delay: 0s;
			}
			&:nth-child(2) {
				animation-delay: 0.1s;
			}
			&:nth-child(3) {
				animation-delay: 0.2s;
			}
		}
	}
}

// Section 02
#introduce {
	position: relative;
	z-index: 2;
	min-height: 100vh;
	background: $color-black;

	&::after {
		--size: 46px;
		--line: color-mix(in lch, #f6f6f6, transparent 92.5%);
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		height: 100vh;
		width: 100vw;
		background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% /
				var(--size) var(--size),
			linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size)
				var(--size);
		mask: linear-gradient(25deg, transparent 38%, #f6f6f6);
		transform-style: flat;
		pointer-events: none;
	}
	.sec02a {
		height: 100vh;
		@include flex;
	}
}

// Section 03
#skill {
	background: gold;
}
