.header {
	position: fixed;
	z-index: 181818181818;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px 24px;
	backdrop-filter: blur(20px);
	mask-image: linear-gradient(to bottom, #000, #000 12.5%, #000 57.5%, #0000);
	-webkit-mask-image: linear-gradient(to bottom, #000, #000 12.5%, #000 57.5%, #0000);

	.headerInner {
		@include flex(row, space-between);
		max-width: $breakpoint-desktop;
		margin: 0 auto;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		.logo {
			@include flex();
			.logoImg {
				width: 28px;
				height: 34px;
			}
			h1 {
				position: relative;
				margin: 0 3px;
				font-size: 1.6rem;
				font-family: $base-Bold-font;
			}
			.audioIcon {
				margin-top: 1px;
				margin-left: 8px;
				width: 26px;
				height: 20px;
				filter: brightness(0) invert(1);
				transition: transform 0.3s ease;
				&:hover {
					filter: invert(71%) sepia(78%) saturate(354%) hue-rotate(72deg) brightness(95%)
						contrast(101%);
					transform: translateY(-3px);
				}
			}
		}

		nav {
			.navList {
				display: flex;
				.listItem {
					color: $color-white;
					transition: all 0.3s ease;
					transform: translateY(0);
					&:hover {
						color: $color-primary-500;
						transform: translateY(-3px);
					}
					> .navItem {
						@include flex();
						padding: 11px 12px;
						color: inherit;
						font-size: 1.2rem;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 1px;
					}
					&:last-child .navItem {
						padding-right: 0;
					}
				}
			}
		}
	}
}
@include mobile {
	.navList {
		gap: 0;
		li {
			width: 84px;
			height: 90px;
			a {
				font-size: 0.75rem;
			}
		}
	}
}
.audioWrap {
    position: relative;
    max-width: 1024px;
    max-height: 200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
