.header {
	position: fixed;
	z-index: 181818181818181818;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 24px;
	padding-bottom: 2.8rem;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	mask-image: linear-gradient(to bottom, #000, #000 12.5%, #000 57.5%, #0000);
	-webkit-mask-image: linear-gradient(to bottom, #000, #000 12.5%, #000 57.5%, #0000);

	.headerInner {
		position: relative;
		@include flex(row, space-between);
		width: 100%;
		margin: 0 auto;
		height: 28px;
	}

	nav {
		max-width: 1280px;
		margin: 0 auto;
		.navList {
			position: relative;
			@include flex();
			padding-top: 20px;
			padding-bottom: 6px;
			// border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			.listItem {
				width: 100%;
				margin: 2px 4px;
				color: $color-white;
				transition: all 0.3s ease;
				transform: translateY(0);
				&:first-child {
					margin-left: 0; // 첫 번째 요소의 왼쪽 마진 제거
				}

				&:last-child {
					margin-right: 0; // 마지막 요소의 오른쪽 마진 제거
				}
				.navItem {
					position: relative;
					overflow: hidden;
					@include flex();
					padding: 10px 36px;
					color: $color-white;
					font-size: 1.2rem;
					text-decoration: none;
					text-transform: uppercase;
					white-space: nowrap;
					letter-spacing: 1.2px;
					@include buttonStyle($color-gray900);
					&:hover {
						color: $color-primary-500;
						@include buttonHoverStyle;
						border: inset 1px solid #fff;
						box-shadow: inset 0 0 4px 2px rgb(77, 71, 71);
					}
					&::after {
						--size: 3px;
						--line: color-mix(in lch, #f6f6f6, transparent 95%);
						content: '';
						position: absolute;
						z-index: 1;
						top: 0;
						height: 100%;
						width: 100%;
						background: linear-gradient(
								180deg,
								var(--line) 1px,
								transparent 1px var(--size)
							)
							50% 50% / var(--size) var(--size);
						animation: qwer 4s 1s linear infinite alternate;
						transform-style: flat;
						pointer-events: none;
					}
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: -100%;
						width: 100%;
						height: 100%;
						background: linear-gradient(
							to left,
							rgba(31, 31, 31, 0),
							rgba(80, 255, 112, 0.2) 50%,
							rgba(31, 31, 31, 0)
						);
						opacity: 0;
						visibility: hidden;
						transition: left 0.48s ease-in-out;
					}

					&:hover::before {
						left: 100%;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	.marquee {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 1280px;
		min-width: 248px;
		height: 24px;

		.marqueeInner {
			overflow: hidden;
			height: 100%;
			padding: 6px 12px;
			.container {
				-webkit-mask-image: linear-gradient(to right, #0000, #000 12.5%, #000 87.5%, #0000);
				mask-image: linear-gradient(to right, #0000, #000 12.5%, #000 87.5%, #0000);
				display: flex;
				gap: 0;
				.content {
					display: flex;
					gap: 3rem;
					text-wrap: nowrap;
					padding-right: 3rem;
					h5 {
						font-family: $font-LCDDot;
						font-size: 1.4rem;
						letter-spacing: 1px;
					}
				}
			}
		}
	}
}

.logoImg {
	display: none;
}
