main {
	overflow-x: hidden;

	&::after {
		content: '';
		position: absolute;
		z-index: 18181818;
		height: 180%;
		left: -40%;
		top: -40%;
		width: 180%;
		filter: opacity(0.705);
		pointer-events: none;
		will-change: transform;
		-webkit-transition: opacity 0.6s ease-out;
		transition: opacity 0.6s ease-out;
		-webkit-animation: noiseAnimation 1s steps(4) infinite;
		animation: noiseAnimation 1s steps(4) infinite;
		background-image: url(/images/common/noise.png);
	}
}
