main {
	overflow-x: hidden;

	&::after {
		will-change: transform;
		content: '';
		position: fixed;
		z-index: 1818181818181818181818;
		top: -40%;
		left: -40%;
		width: 180%;
		height: 180%;
		background-image: url(/images/common/noise.png);
		filter: opacity(0.7);
		transition: opacity 0.6s ease-out;
		-webkit-transition: opacity 0.6s ease-out;
		animation: noiseAnimation 1.18s steps(4) infinite;
		-webkit-animation: noiseAnimation 1.18s steps(4) infinite;
		pointer-events: none;
	}
}
