@use '../abstracts/variables' as *;
@use '../components//glitch.scss';
@import '@scss/abstracts/mixins.scss';

.star {
	position: absolute;
	border-radius: 50%;
	background-color: #f6f6f6;
}

.visual,
.box {
	position: relative;
	overflow: hidden;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 64px;
}

.visual {
	font-family: $base-Bold-font;
}

.title {
	user-select: none;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-top: 68px;
	font-family: inherit;
	color: $white-color;
	line-height: 1;
	.largeText {
		height: 100%;
		font-size: 124px;
		opacity: 0;
		@include fadeIn(0.8s, 0.12s);
	}
	.smallText {
		height: 100%;
		font-size: 52px;
		color: $primary-color;
		opacity: 0;
		@include fadeIn(1s, 0.24s);

		&.glitch {
			color: $primary-color;
			&::before,
			&::after {
				color: $primary-color;
			}
		}
	}
}

.contentText {
	color: #333;
	font-size: 18px;
	font-family: $base-font;
	letter-spacing: 0.5px;
	padding: 12px 18px;
	transition: all 1s ease;
	&:hover {
		transform: translateY(-8px);
		color: #888;
	}
	opacity: 0;
	animation: moveFadeIn 0.8s 0.36s ease-in-out forwards;
	@keyframes moveFadeIn {
		0% {
			opacity: 0;
			transform: translateY(-48px) scale(0.5);
		}
		82.5% {
			transform: translateY(0) scale(1.02);
			transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
		100% {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
	}
}

.startBtn {
	position: relative;
	margin-top: 118px;
	padding: 12px 18px;
	font-family: inherit;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0.9px;
	transition: translateY 0.3s ease;
	transform: translateY(0);
	&:hover {
		color: $primary-color;
		transform: translateY(-2px);
	}
	opacity: 0;
	@include fadeIn(1.125s, .875s);

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -16px;
		transform: translateY(-50%);
		transition: border-left 0.5s 0.3456s ease;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 16px solid $primary-color;
		border-radius: 2px;
		animation: moveArrow 1.25s 0.425s cubic-bezier(0.34, 1.46, 0.92, 1) infinite
			alternate-reverse;
		@keyframes moveArrow {
			0% {
				transform: translate(-16px, -50%);
				opacity: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
			}
			5% {
				opacity: 0.5;
			}
			25% {
				opacity: 0.9;
			}
			100% {
				transform: translate(0, -50%);
				opacity: 1;
			}
		}
	}

	&:hover::before {
		border-left: 16px solid #fff;
	}
}
